* {
  font-family: Georgia, Times, serif;
  direction: ltr;
  margin: 0;
  padding: 0;
}
body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90vw;
  height: 80vh;
  padding: 2rem;
  margin: auto;
  border: 2px solid black;
}
.wrapper1 {
  width: 90٪;
  height: 90٪;
  padding: 2rem;
  border: 2px solid black;
}
.wrapper2 {
  width: 80٪;
  height: 50٪;
  border: 2px solid black;
  padding: 2rem;
}
.wrapper3 {
  width: 80٪;
  height: 50٪;
  border: 2px solid black;
  padding: 2rem;
}
